body {  font-size: 10pt; }
h1 { font-size: 14pt; }
h2 { font-size: 12pt; }
#compclustMenu { position: absolute;
                 width: 13em;
                 right: auto;
                 left: 0em;
                 background: #6699ff;
                 margin-right:1em;
                 padding: 0.35em;}

#compclustBody { position: absolute;
                 top: 0;
                 right: 0;
                 left: 14em;
                 width: auto;
                 /* border-right:2px solid #000; */
                 /* border-bottom:2px solid #000; */
                 }

#compclustRevision { font-size: 8pt; }

.button { border-style: solid;
          border-width: thin; 
          border-color: black;
          margin-right: 1em;
          padding: 2px;
          }
t
able.sortable a.sortheader {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}

/* #labelingDetail { float: right; } */

/* table.labelingSummary { background: #6699ff; } */
.labelingSummary { border-style: solid;
                        border-width: thin;
                        padding: 0px; }
